/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  display: flex;
  flex-direction: row;
}
.page_chatContainer__3fhpL {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 100vh;
  background-color: #212020;
}
.page_header__kVzhN {
  padding: 20px;
  text-align: center;
}
.page_messageArea__H99w1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: large;
  font-weight: 600;
  padding-top: 20%;
}

.page_messageArea__H99w1 img {
  border: 0.5px solid grey;
  border-radius: 100%;
}

.page_messageArea__H99w1 p {
  padding-top: 10px;
  color: white;
}

.page_inputArea__eoM5K {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  position: absolute;
  top: 92%;
}
.page_inputArea__eoM5K input {
  flex: 1;
  padding: 10px;
  border: none;
  margin-right: 10px;
  background-color: #2f2f2f;
  color: white;
  border-radius: 20px;
}
.page_inputArea__eoM5K button {
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}
.page_termsAndCondition__pCTRT {
  color: white;
  font-size: 11px;
  padding-left: 32%;
  padding-top: 10px;
  position: absolute;
  top: 96.5%;
}
.page_inputArea__eoM5K button:hover {
}

.page_navbarContainer__j00EY {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100vh;
  background-color: #161617;
}

.page_newChat__1nyaw {
  display: flex;
  font-size: small;
  align-items: center;
  padding: 9px;
  margin: 15px;
  border-radius: 8px;
  color: white;
}
.page_newChat__1nyaw:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.page_newChat__1nyaw img[alt="GPT Image"] {
  border: 0.5px solid white;
  border-radius: 100%;
}

.page_signUpAndLogin__trBHW {
  position: absolute;
  bottom: 0;
  width: 16%;
  display: flex;
  flex-direction: column;
  padding: 9px;
  margin: 15px;
}

.page_heading__ZPgh_ {
  color: white;
  font-size: small;
  font-weight: 600;
}

.page_content__kDoxQ {
  color: #a0a6aa;
  font-size: small;
  padding-bottom: 15px;
}

.page_signUpButtons__OFGzC {
  color: white;
  font-weight: 600;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.page_loginButtons___HgB1 {
  color: white;
  font-weight: 600;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.page_newChatMainText__7temt {
  display: flex;
  font-size: small;
  align-items: center;
  border-radius: 5px;
  color: white;
  width: 100%;
}

.page_newChatMainImage__CUznl {
}

.page_chatHeader__zxE3O {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-weight: 600;
  justify-content: space-between;
  color: white;
}

.page_loader__g9BIl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212020;
  color: white;
}

.page_dropdown__fSg_R {
}

.page_dropdown__fSg_R img[alt="Dropdown"] {
  border-radius: 100%;
}

.page_dropdown__fSg_R img:hover {
  cursor: pointer;
}

.page_dropdownItems__gBO5_ {
  position: absolute;
  padding: 7px;
  width: 290px;
  margin-top: 8px;
  margin-left: -260px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

.page_dropdownItem___BIzY {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
  font-size: small;
  font-weight: 400;
}

.page_dropdownItem___BIzY img {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.page_dropdownItemText__Gae5n {
}

.page_outputArea__cTfuC {
}

.page_messagesArea__dqmYU {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-weight: 600;
  white-space: pre-wrap;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px
}

.page_chatBody__v4Jni{
  height: 83%;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.page_promptArea__D_A2h{
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: auto;
  padding-left: 1.8%;
  padding-right: 1.8%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
  background-color: #2f2f2f;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.page_outputArea__cTfuC{
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  color: white
}

.page_outputAreaImage__9Chlh{
  padding-right: 10px
}

.page_outputAreaImage__9Chlh img{
  border: 0.5px solid grey;
  border-radius: 100%;
}

.page_outputAreaText__fZB5b{
  width: 82%;
}

.page_submitButton__6O8qB{
  margin-right: 900px;
  border: 10px solid black;
}
